{% assign categories = site.categories %}

{% if categories.size > 0 %}
<section class="categories">

  <h1>Browse by category</h1>
  
  {% for category in categories %}
    {% assign posts = category[1] %}

    {% for post in posts %}

      {% if post.type == type %}
        <li>
          <a href="/category/{{ category[0] | downcase }}">
            {{ category[0] | capitalize }}
          </a>
        </li>
        {% break %}

      {% endif %}

    {% endfor %}

    {% assign posts = nil %}

  {% endfor %}

</section>
{% endif %}

{% assign categories = nil %}
