{% if page %}
  {% assign post = page %}
{% else %}
  {% assign post = post %}
{% endif %}
<p class="post-meta">
  <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
  {% if post.author %} • <span class="author">Posted by <a href="/author/{{ post.author | replace: ' ', '-' | downcase }}/">{{ post.author }}</a></span>{% endif %}
  {% if post.categories %}
      {% assign categories = post.categories %}
      {% if categories.size > 0 %}
        • <span class="categories">Filed under
          {% for category in categories %}
            <a href="/category/{{ category }}"> {{ category | capitalize }}</a>{% if category != categories.last %}, {% endif %}
          {% endfor %}
        </span>
      {% endif %}
  {% endif %}
</p>
