<ul class="posts">

  {% if limit == nil %}
    {% assign limit = 0 %}
  {% endif %}

  {% for post in posts limit:total %}

    <li>
      <h2>
        <a href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
      </h2>

      {% include post-meta.html %}

      <p>
        {{ post.excerpt | strip_html }}
      </p>

      <a class="more" href="{{ post.url | prepend: site.baseurl }}">
        Read more
      </a>
    </li>

  {% endfor %}

  {% assign posts = nil %}

</ul>
