/*
 * Page
 */
.page {
  padding: $spacing-unit 0;

  a {
    font-weight: 600;
  }

  img.author {
    float: left;
    margin: 0px $spacing-unit $spacing-unit 0px;
    border: solid 10px $brand-color;
    @include border-radius(50%);
  }

  .post {

    h1 {
      margin-bottom: 10px;
    }

    article {

      h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
          font-size: 28px;
        }

      }

      h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
          font-size: 22px;
        }

      }

      h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
          font-size: 18px;
        }

      }

    } /* /article */

  } /* /.post */

  .sharing {
    height: 41px;
  }

  .empty {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: $brand-color-light;
    padding: $spacing-unit;
  }

} /* /.page */
