---
layout: default
---
<h1>Posts tagged as {{ page.title }}</h1>
{{ content }}
<ul class="post-list">
  {% assign has_tag = false %}
  {% assign current_tag = page.title | downcase %}
  {% for post in site.posts %}
      {% for tag in post.tags %}
        {% if tag == current_tag %}
          {% assign has_tag = true %}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {% include post-meta.html %}
            <p>
              {{ post.excerpt | strip_html }}
            </p>
            <a class="post-more" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          </li>
        {% endif %}
      {% endfor %}
  {% endfor %}
</ul>
{% if has_tag == false %}
  <p class="empty">Sorry, you are out of luck. There are no posts for this tag at the moment.</p>
{% endif %}

{% assign current_tag = nil %}
{% assign has_tag = nil %}
