---
layout: page
headingPrefix: Posts tagged as
---
<p>{{ page.description }}</p>

<ul class="posts">

  {% assign has_tag = false %}

  {% for post in site.posts %}
      {% for tag in post.tags %}

        {% if tag == page.tag %}
          {% assign has_tag = true %}

          <li>
            <h2>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {% include post-meta.html %}
            <p>
              {{ post.excerpt | strip_html }}
            </p>
            <a class="more" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          </li>

        {% endif %}

      {% endfor %}
  {% endfor %}

</ul>

{% if has_tag == false %}
  <p class="empty">Sorry, you are out of luck. There are no posts for this tag at the moment.</p>
{% endif %}

{% assign has_tag = nil %}
