---
layout: default
---
<div class="wrapper">

  <div class="page">

    <header class="post">
      <h1>{{ page.title }}</h1>
      {% include post-meta.html %}
    </header>

    <section class="sharing">
      <div class="addthis_sharing_toolbox"></div>
      <noscript>
        Please enable JavaScript to view the <a href="http://www.addthis.com" rel="nofollow">sharing options powered by AddThis.</a>
      </noscript>
    </section>

    <article>
      {{ content }}
    </article>

    <section class="comments">
      <div id="disqus_thread"></div>
      <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
      </noscript>
    </section>

    <script type="text/javascript" src="/js/posts.js" async></script>

  </div>

</div>
