---
layout: default
---
<h1>Posts relating to {{ page.title }}</h1>
{{ content }}
<ul class="post-list">
  {% assign has_category = false %}
  {% assign current_category = page.title | downcase %}
  {% for post in site.posts %}
      {% for category in post.categories %}
        {% if category == current_category %}
          {% assign has_category = true %}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {% include post-meta.html %}
            <p>
              {{ post.excerpt | strip_html }}
            </p>
            <a class="post-more" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          </li>
        {% endif %}
      {% endfor %}
  {% endfor %}
</ul>
{% if has_category == false %}
  <p class="empty">Sorry, you are out of luck. There are no posts for this category at the moment.</p>
{% endif %}

{% assign current_category = nil %}
{% assign has_category = nil %}
